<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="field start-form">
    <div class="control">
      <%= f.input :project,
        required: true,
        autofocus: true,
        label: false,
        placeholder: "Project Name",
        wrapper: false,
        input_html: { class: "input is-medium" } %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.input :hours, input_html: { class: "input is-medium" } , placeholder:"No. Of Hours Spent" , type:"number", label:false, wrapper:false %>
    </div>
  </div>
  <div class="field">
    <div class="control project-courses">
      <%= f.collection_select  :course_id, Course.order(:course), :id, :course, placeholder:"Choose a project..." %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.button :submit,class:"button is-link course-button" %>
    </div>
  </div>
<% end %>
