<% @page_title = "Sign In" %>
<section class="section">
  <div class="columns is-centered">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :name,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "Name",
                wrapper: false,
                input_html: { class: "input is-medium" } %>
        <%= f.input :email,
                required: false,
                label: false,
                placeholder: "Email",
                wrapper: false,
                input_html: { class: "input is-medium" } %>
        <%= f.input :password,
                required: false,
                label: false,
                placeholder: "Password",
                wrapper: false,
                input_html: { class: "input is-medium", autocomplete: "current-password"} %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "button is-medium is-info mt-5 is-centered" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</section>
