<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <article class="media">
    <div class="media-content">
      <div class="field">
        <p class="control">
          <%= f.text_area :course, class: "input textarea",label: false, placeholder: "Create a new course...." %>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <%= f.button :submit, class: "button is-info course-button" %>
          </div>
        </div>
      </nav>
    </div>
  </article>
<% end %>
