<% @page_title = "Courses" %>
<% @courses.each do |course| %>
  <div class="card main-card">
    <header class="card-header">
      <p class="card-header-title">
        <%= course.course %>
      </p>
    </header>
    <footer class="card-footer">
      <%= link_to 'Show', course, class: "card-footer-item has-text-primary" %>
      <%= link_to 'Edit', edit_course_path(course), class: "card-footer-item" %>
      <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item has-text-danger" %>
    </footer>
  </div>
<% end %>
<%= link_to 'New Course', new_course_path, class: "button is-medium is-info course-button" %>
